* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    background: #001821;
    font-family: "Open Sans", Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    outline: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

input {
    outline: none;
}

p {
    margin: 0;
}

.main-page-wrapper {
    background: url("../img/fon1.png") center top no-repeat, url("../img/fon2.png") center bottom 165px no-repeat;
}

.header__container {
    position: relative;
    min-height: 120px;
    margin-bottom: 75px;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 51px;
    font-size: 14px;
}

.menu__item:last-child {
    margin-right: 0;
}

.wrapper__content {
    margin: 0 auto;
    width: 1140px;
}

.logo {
    display: block;
    position: absolute;
    top: 29px;
    left: 0px;
}

.menu {
    position: absolute;
    top: 39px;
    left: 165px;
}

.contacts {
    position: absolute;
    text-align: right;
    top: 20px;
    right: 0px;
}

.contacts__phone {
    display: inline-block;
    font-size: 26px;
}

.contacts__info {
    font-size: 13px;
    text-decoration: underline;
}

.hello {
    width: 511px;
}

.hello__title {
    font-size: 72px;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 24px;
}

.hello__text {
    font-size: 18px;
    margin-bottom: 30px;
}

.button {
    background: #F5170E;
    border-radius: 35px;
    padding: 17px 40px;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    font-size: 15px;
}

.buttob--color--ginger {
    background: #F5170E;
}

.button-light {
    background: white;
    border: 1px solid #F5170E;
    color: #F5170E;
    font-size: 14px;
    font-weight: bold;
    padding: 18px 30px;
}

.button-light:hover {
    background: #F5170E;
    color: white;
}

.offers {
    margin-bottom: 124px;
    margin-top: 245px;
}

.title--fire {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
}

.offers__item {
    min-height: 450px;
    width: 362px;
    background: #fff;
    border-radius: 4px;
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
}

.offers__item:last-child {
    margin-right: 0;
}

.offers__header {
    min-height: 144px;
    margin-bottom: 26px;
    position: relative;
}

.offers__content {
    padding: 0px 22px 16px 26px;
    color: black;
}

.offers__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 21px;
}

.offers__feature {
    display: inline-block;
}

.offers__features {
    margin-bottom: 20px;
}

.offers__text {
    margin-top: 20px;
    margin-bottom: 28px;
    font-size: 14px;
    color: #303030;
}

.offers__feature-text {
    color: #666666;
    font-size: 16px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 28px;
    vertical-align: super;
}

.news__item {
    width: 557px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 20px;
}

.news__item:last-child {
    margin-right: 0;
}

.news {
    margin-bottom: 150px;
}

.news__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px 30px;
    min-height: 140px;
}

.news__date {
    font-size: 14px;
    margin-bottom: 12px;
}

.news__title-head {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
}

.news__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 52px;
}

.news__list {
    margin-bottom: 55px;
}

.pagination {
    text-align: center;
}

.pagination__info,
.pagination__list {
    display: inline-block;
    vertical-align: middle;
}

.pagination__info {
    margin-right: 25px;
}

.pagination__item {
    display: inline-block;
    vertical-align: middle;
}

.pagination__number {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}

.pagination__item--active .pagination__number {
    background: white;
    color: #F5170E;
}

.pagination__number:hover {
    background: white;
    color: #F5170E;
}

.about__block:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 490px;
    height: 505px;
    background: url("../img/gates.png") center center/cover no-repeat;
}

.about__desc {
    background: url("../img/mountains.png");
    padding: 70px 80px;
    display: inline-block;
    vertical-align: top;
    width: 785px;
    height: 455px;
    display: inline-block;
    vertical-align: top;
    margin-left: -142px;
    margin-top: 90px;
}

.about__title {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 75px;
    color: black;
}

.about__text {
    color: black;
    margin-bottom: 49px;
}

.about__text p {
    margin-bottom: 20px;
}

.about__text p:last-child {
    margin-bottom: 0;
}

.maincontent {
    margin-bottom: 74px;
}

.footer__container {
    border-top: 1px solid #fff;
}

.footer__base {
    height: 150px;
    position: relative;
}

.social__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}

.social__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.social__item:last-child {
    margin-right: 0;
}

.social {
    position: absolute;
    top: 35px;
    right: 257px;
}

.social__item--telegram .social__link {
    background-image: url("../img/telegram.png");
}

.social__item--telegram .social__link:hover {
    background-image: url("../img/telegramm-hover.png");
}

.social__item--vk .social__link {
    background-image: url("../img/vk.png");
}

.social__item--vk .social__link:hover {
    background-image: url("../img/vk-hover.png");
}

.social__item--fb .social__link {
    background-image: url("../img/f.png");
}

.social__item--fb .social__link:hover {
    background-image: url("../img/fb-hover.png");
}

.social__item--insta .social__link {
    background-image: url("../img/in.png");
}

.social__item--insta .social__link:hover {
    background-image: url("../img/insta-hover.png");
}